/* ---------------------- */
/* Comment Content        */
/* ---------------------- */

:root {
  --fs-400: 1rem;
  --fw-regualar: 400;
}

body {
  font-family: "Noto Serif", serif;
  color: black;
}

/* reminders */
.container {
  width: 80%;
  max-width: 1200px;
}

p {
  max-width: 75ch;
}

.display-none {
  display: none;
}
