/* ---------------------- */
/* Comment Content        */
/* ---------------------- */

:root {
  --fs-400: 1rem;
  --fw-regualar: 400;
  --fw-bold: 600;
  --bg-clr-primary: #404040;
  --bg-clr-secondary: #595959;
  --large-font-clamp: clamp(2rem, 1.6364rem + 1.8182vw, 3rem);
}

.error-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  z-index: 4;
  background-color: var(--bg-clr-primary);
}
/* loader */
.loader-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  z-index: 3;
  background-color: var(--bg-clr-primary);
}

.loader {
  display: inline-block;
  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #fff;
  position: relative;
}
.loader::before {
  content: "";
  position: absolute;
  left: 34px;
  bottom: 18px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  box-sizing: border-box;
  animation: rotation 0.6s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  font-family: "Noto Serif", serif;
  background-color: var(--bg-clr-primary);
  color: white;
}

.content-wrapper {
  width: min(100% - 3rem, 1500px);
  margin-inline: auto;
  overflow: hidden;
}

.title-wrapper {
  margin-block: 1em;
  text-align: center;
}

.h1 {
  font-size: var(--large-font-clamp);
  font-weight: var(--fw-bold);
  flex: 1;
}

.data-source-h2 {
  margin-inline: auto;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5em;
}

.accessibility-tables {
  transform: translateY(-1000%);
  margin-block: 1em;
}
.accessibility-tables:focus-within,
.accessibility-tables:focus {
  transform: translateY(0);
  transition: 500ms ease;
}

p {
  max-width: 75ch;
}

.display-none {
  display: none;
}

.btn {
  position: relative;
  isolation: isolate;
  background-color: var(--bg-clr-primary);
  color: white;
  font-weight: 600;
  border-radius: 50%;
  padding: 0.5em 0.5em;
  overflow: hidden;
  border: 2px solid var(--bg-clr-primary);
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn::after {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  aspect-ratio: 1 / 1;
  z-index: -1;
  border-radius: 50%;

  background-color: white;
  transform: scale(0);
  transform-origin: bottom right;
  transition: transform 0.5s ease;
}

.btn:focus-visible {
  outline: 2px solid white;
}
.btn:hover,
.btn:hover::after {
  transition: transform 0.5s ease;
  transform: scale(1);
  transform-origin: top left;
  color: var(--bg-clr-primary);
}

.btn:hover {
  cursor: pointer;
}

.inputSlider {
  accent-color: var(--bg-clr-primary);
}

.inputSlider:hover,
.inputSlider:focus-visible {
  transition: accent-color 750ms ease;
  accent-color: white;
  cursor: grab;
}

.input-wrapper {
  text-align: center;
  margin-inline: auto;
  gap: 0.5em;
}

.canvas-wrapper {
  /* position relative is needed to make chart responsive */
  position: relative;
  /* min-height: 500px; */
}

.canvas-wrapper-moviesByYearChart {
  min-height: 500px;
}
.revBudget-canvas-wrapper {
  min-height: 500px;
}

.canvas-wrapper {
  padding: 1em;
}
.chart-wrapper {
  padding-top: 1.5em;
}

/* not first section, not cards section */
.bg-secondary {
  background-color: var(--bg-clr-secondary);
  margin-block: 2em;
  border-radius: 10px;
}

.grid-gtc {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1em;
}

.card {
  text-align: center;
  font-size: 1.25em;
  background-color: var(--bg-clr-secondary);
  padding-block: 0.5em;
  border-radius: 10px;
}

::selection {
  background-color: white;
  color: black;
}

.link {
  color: white;
  text-underline-offset: 0.25em;
}

.sliderValueParagraph {
  margin-inline: auto;
}
/* if tables do not have any data display none is added else, tables will be shown */
.table-wrapper:empty,
.error-wrapper:empty {
  display: none;
}

.table * {
  text-align: center;
  padding: 0.25em;
  border: 1px solid white;
}

/* even table rows */
tbody > :nth-child(even) {
  background-color: #f2f2f2;
  color: black;
}

/* mobile media query */
@media (max-width: 799px) {
  .image-container,
  .monster-img,
  .card,
  .image-container-language {
    display: none;
  }
}

/* desktop media query */
@media (min-width: 800px) {
  .grid-mby {
    display: grid;
    grid-template-columns: 2fr 0.5fr 0.5fr;
    gap: 2em;
  }

  .align-self-center {
    align-self: center;
  }

  .grid-language {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
  }

  .image-container,
  .image-container-language {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .image-container > *,
  .image-container-language > * {
    object-fit: contain;
  }

  .mby-chart-section {
    margin-block: auto;
  }

  .projector-img {
    top: 20px;
  }

  .super-hero-img {
    top: 100px;
    transform: rotate(45deg);
  }

  .popcorn-img {
    position: absolute;
    top: 35px;
    min-height: 70%;
    z-index: 2;
  }
  .ticket-img {
    height: 55%;
    z-index: 1;
    position: absolute;
    top: 50px;
    left: -50px;
    transform: rotate(35deg);
  }

  #languagePieArea {
    min-height: 200px;
  }
  .language-section {
    width: 80%;
    margin-inline: auto;
  }

  .label,
  .sliderValueParagraph {
    font-size: 1.25rem;
  }

  .monster-img {
    position: absolute;
    height: 200px;
    width: 200px;
    z-index: -1;
  }
}
