/* ---------------------- */
/* Comment Content        */
/* ---------------------- */

:root {
  --fs-400: 1rem;
  --fw-regualar: 400;
  --fw-bold: 600;
  --bg-clr-primary: #404040;
  --bg-clr-secondary: #595959;
  --large-font-clamp: clamp(2rem, 1.6364rem + 1.8182vw, 3rem);
}

body {
  font-family: "Noto Serif", serif;
  background-color: var(--bg-clr-primary);
  color: white;
}

.content-wrapper {
  width: min(100% - 3rem, 1500px);
  margin-inline: auto;
}

.title-wrapper {
  margin-block: 1em;
  text-align: center;
}

.h1 {
  font-size: var(--large-font-clamp);
  font-weight: var(--fw-bold);
  flex: 1;
}

.data-source-h2 {
  margin-inline: auto;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5em;
}

.accessibility-tables {
  transform: translateY(-1000%);
  margin-block: 1em;
}
.accessibility-tables:focus-within,
.accessibility-tables:focus {
  transform: translateY(0);
  transition: 500ms ease;
}

p {
  max-width: 75ch;
}

.display-none {
  display: none;
}

.btn {
  position: relative;
  isolation: isolate;
  background-color: var(--bg-clr-primary);
  color: white;
  font-weight: 600;
  border-radius: 50%;
  padding: 0.5em 0.5em;
  overflow: hidden;
  border: 2px solid var(--bg-clr-primary);
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn::after {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  aspect-ratio: 1 / 1;
  z-index: -1;
  border-radius: 50%;

  background-color: white;
  transform: scale(0);
  transform-origin: bottom right;
  transition: transform 0.5s ease;
}

.btn:focus-visible {
  outline: 2px solid red;
}
.btn:hover,
.btn:hover::after {
  transition: transform 0.5s ease;
  transform: scale(1);
  transform-origin: top left;
  color: var(--bg-clr-primary);
}

.btn:hover {
  cursor: pointer;
}

.inputSlider {
  accent-color: var(--bg-clr-primary);
}

.inputSlider:hover,
.inputSlider:focus-visible {
  transition: accent-color 750ms ease;
  accent-color: white;
  cursor: grab;
}

.input-wrapper {
  text-align: center;
  margin-inline: auto;
  gap: 0.5em;
}

/* TODO: hide this with the accessibility tables and charts in JS */
.table-span {
  background-color: red;
}

.canvas-wrapper {
  /* position relative is needed to make chart responsive */
  position: relative;
  min-height: 500px;
}

section:not(:first-child) {
  background-color: var(--bg-clr-secondary);
  margin-block: 2em;
  border-radius: 10px;
}
.grid-gtc {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1em;
}

.card {
  text-align: center;
  font-size: 2em;
  background-color: black;
  padding: 2em 1em;
  border-radius: 10px;
}

::selection {
  background-color: white;
  color: black;
}
